body {
background-color: #c1d8d9;
}

figure {
  text-align: center;
  display: table;
  align-content: center;

}

figure figcaption {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
h1 {
  text-align: center;
}